body {
    font-family: Arial, sans-serif;
    margin: 0;
    background: #f7f7f7;
}

.header {
    background: #4EB1F5;
    padding: 15px;
    color: white;
    text-align: center;
    font-size: 20px;
}

.product-card {
    background: white;
    margin: 12px;
    padding: 12px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.15);
}

.product-card img {
    width: 100%;
    border-radius: 10px;
}

.product-name {
    font-size: 18px;
    margin-top: 10px;
    font-weight: bold;
}

.price {
    font-size: 16px;
    margin-top: 5px;
    color: #555;
}

.btn {
    background: #4EB1F5;
    padding: 10px;
    margin-top: 10px;
    text-align: center;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

/* Popup product detail */
#product-detail {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
}

.detail-box {
    background: white;
    margin: 50px auto;
    padding: 20px;
    width: 90%;
    border-radius: 12px;
}

.close-btn {
    background: red;
    color: white;
    padding: 8px;
    text-align: center;
    border-radius: 5px;
    margin-top: 10px;
}


.product-image-div {
    height: 100px;
    width: auto;
    text-align: center;
}

.product-image-div img {
    height: 100%;
    width: auto;
}